
@font-face {
    font-family: 'DIN Pro';
    font-style: normal;
    font-weight: 400;
    src: url(https://d2ue93q3u507c2.cloudfront.net/assets/generated_assets/86fda98796bb4100ba905535a77723bd.otf) format("opentype");
  }
  
  @font-face {
    font-family: 'DIN Pro';
    font-style: normal;
    font-weight: 500;
    src: url(https://d2ue93q3u507c2.cloudfront.net/assets/generated_assets/48a3635ce1e76c0122a143b076f51adf.otf) format("opentype");
  }

.companyPageRow{
    margin-top: -2px; 
    transition-duration: .8s;
    transform: translateX(0%);
    padding: 6px;
    display: flex;
}

.stockCard {
    display: flex;
    flex-direction: column;
    height: 138px;
    margin-right: 12px;
    padding: 20px 24px;
    width: 112.5px;
    border: 1px solid #f4f4f5;
    text-decoration: inherit;
}

.stockCard:hover {
    background: #fafafa; 
}

.companyName { 
    font-weight: 500; 
    cursor: pointer; 
    letter-spacing: 0.2px;
    font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 5px;
}

.approvalRating {
    font-weight: 400; 
    color: #000;
    align-items: center;
    display: flex;
    font-size: 13px;
    font-weight: 400; 
}

.stockPrice {
    font-weight: 500; 
    font-size: 26px;
    letter-spacing: -0.14px;
    margin-block-start: 1.83em;
    color: #21ce99; 
    font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
}

.priceFluctuation {
    font-weight: 400; 
    font-size: 13px;
    letter-spacing: 0.25px;
    line-height: 19px;
}

.tooltip {
    position: relative; 
    display: flex;
    margin-left: 5px; 
}

.tooltiptext {
    border-radius: 10px;
    visibility: hidden; 
    overflow-x: visible; 
    width: 143px;
    background-color: black; 
    color: white;
    text-align: center;
    padding: 8px 0;
    position: fixed;
    z-index: 5;
    font-size: 10px; 
    display: inline;
    /* position:absolute; */
    left: -32px;
    right: 0;
    text-align: center;
}

.approvalRating:hover .tooltiptext{
    visibility: visible;
}
